*.swp
*.o
*.mod
*.pyc
*.lst
*.log
log*
*~
*__*
/scale/tmp
/scale/configure.user
/scale/common/datetime
/scale/common/pdbash
/scale/run/config.main*
/scale/run/config.cycle
/scale/run/config.fcst
/scale/run/config.obsmake
/scale/run/config.nml.scale_pp*
/scale/run/config.nml.scale_init*
/scale/run/config.nml.grads_boundary
/scale/run/config.nml.scale*
/scale/run/config.nml.scale_user
/scale/run/config.nml.obsope
/scale/run/config.nml.obsmake
/scale/run/config.nml.letkf*
/scale/run/cycle_job.sh
/scale/run/fcst_job.sh
/scale/run/machinefile
/scale/run/mpd.hosts
/scale/run/cycle_*.[e,i,s,o][0-9]*
/scale/run/fcst_*.[e,i,s,o][0-9]*
/scale/run/make_obsin
/scale/run/obsmake_run.sh
/scale/run/exp
/scale/letkf/letkf
/scale/obs/obsmake
/scale/obs/obsope
/scale/obs/obssim
/scale/obs/dec_prepbufr
/scale/obs/dec_pawr
/scale/ensmodel/scale-rm_pp_ens
/scale/ensmodel/scale-rm_init_ens
/scale/ensmodel/scale-rm_ens
/scale/run_light/dat
/scale/run_light/letkf
/scale/run_light/scale-rm_ens
/scale/run_light/scale-rm_init_ens
/scale/run_light/obs
/scale/run_light/const
/scale/run_light/test_dacycle.[e,o][0-9]*
/scale/run_light/*.out
/scale/run_light/*.stats
/scale/run_light/*/anal
/scale/run_light/*/gues
/scale/run_light/*/hist
/scale/run_light/mean/*.grd
/scale/run_light/mean/*.nc
/scale/run_light/mean/gradsbdy.conf
/scale/post/sno/sno
/scale/post/sno/log/*
/scale/post/sno/conf/sno_[0-9]*
/scale/post/sno/*.out
/scale/post/sno/*.stats
